<h1>Lecturer's Main Page</h1>

<h3>Search a Student:</h3>
<%= form_tag(lecturer_search_student_path, :method => "post", id: "search-form") do %>
    <p>Name: <%= text_field_tag :searchName, nil %></p>
    <p>Registrarion Id: <%= text_field_tag :searchRegId, nil %></p>
    <%= submit_tag "Search" %>
<% end %>
