<h2>Lecturer: Search for Student</h2>
<p>Students found:</p>

<!-- loop through word elements -->
<% @students.each do |student|  %>
    <!-- display Student info -->
    <p>  <%= student["name"] %> ,  Email:  <%= student["email"] %> </p>
<% end %>

