<% provide(:title, 'Create Course') %>
<h1>Admin Actions</h1>

<h3>Create Course</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(admin_submit_course_path, :method => "post", id: "create-course-form") do %>
    
    <p>Name: <%= text_field_tag :name, nil, class: 'form-control' %></p>
    <p>Semester: <%= text_field_tag :semester, nil, class: 'form-control' %></p>    
   
    <%= submit_tag "Create", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
